<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="true"
        syntaxCheck="false"
        bootstrap="phpunit-bootstrap.php">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module</directory>
            <exclude>
                <!-- dont include test files -->
                <directory suffix="Test.php">./module</directory>
                <!-- dont include view scripts -->
                <directory suffix=".phtml">./module</directory>
                <!-- dont include ZF scaffolding -->
                <directory suffix="Module.php">./module</directory>
                <directory suffix="config/module.config.php">./module</directory>
            </exclude>
        </whitelist>
    </filter>


    <php>
        <env name="IS_PHPUNIT" value="1" />
    </php>

    <testsuites>
        <testsuite name="address">
            <directory>module/Address/test</directory>
        </testsuite>
        <testsuite name="application">
            <directory>module/Application/test</directory>
        </testsuite>
        <testsuite name="product">
            <directory>module/Product/test</directory>
        </testsuite>
        <testsuite name="category">
            <directory>module/Category/test</directory>
        </testsuite>
        <testsuite name="cart">
            <directory>module/Cart/test</directory>
        </testsuite>
        <testsuite name="image">
            <directory>module/Image/test</directory>
        </testsuite>
    </testsuites>

</phpunit>
