body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.hero-unit p {
    font-size:15px;
}
.hero-unit {
    padding-top:10px;
    padding-bottom:10px;
}
.zend_form{
    padding:0;
    overflow:auto;
}

form dt{
    padding:0;
    clear:both;
    width:30%;
    float:left;
    text-align:right;
    margin:5px 5px 5px 0;
}

form dd{
    padding:0;
    float:left;
    width:68%;
    margin:5px 2px 5px 0;
}

.zend_form p{
    padding:0;
    margin:0;
}

.submit{
    float:right;
}

.required:before{content:'*'}

thead {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    color:#FFF;
}
label span {
    width:200px;
    display:block;
}
#shipping-label,
#billing-label {
    display:none;
}